* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
            scrollbar-width: thin;
            scrollbar-color: #397524 #DFE9EB;*/
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: aliceblue;
}

    *::-webkit-scrollbar-track:hover {
        background-color: #B8C0C2;
    }

    *::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
    }

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
}

    *::-webkit-scrollbar-thumb:hover {
        background-color: #62A34B;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #62A34B;
    }

.main-section {
    margin-top: 60px;
    margin-bottom: 60px;
}


.navbar {
}

.date-section {
    background-color: gainsboro;
}

.date {
    font-size: 20px;
    font-weight: 700;
}

.view {
    background-color: green;
    border: none;
    padding: 8px 28px;
    color: #ffffff;
}

.tabs-lbl {
    background-color: cornflowerblue;
    margin: 6px 10px;
    height: 37px;
    border-radius: 6px;
    color: #fff;
}

.status-section {
    /*background-color: aliceblue;*/
    margin: 20px 10px;
    /* border-radius:10px;
            -webkit-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
            box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);*/
}


.sub-head {
    padding: 7px 0;
    -webkit-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
}

.status {
    font-size: 18px;
    font-weight: 700;
}

.sub-head {
    padding: 7px 0;
    -webkit-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
}

.loc-sub-head {
    padding: 7px 0;
    display: flex;
    justify-content: space-around;
}


.status {
    font-size: 18px;
    font-weight: 700;
}

.lbl {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: green;
}

.loc-box {
    height: 130px;
    width: 100%;
    -webkit-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 15px -11px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 15px -11px rgb(0 0 0 / 75%);
    border-radius: 6px;
    text-align: center;
    margin-right: 0px;
    font-size: 18px;
    font-weight: 700;
}

.total {
    background-color: #a7e2cb;
    height: 59px;
    border-radius: 6px 6px 40px 40px;
    padding-top: 16px;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}

.panel {
    width: 16%;
}

.report-grid {
    height: 60vh;
}

.col-md-5 {
    overflow: scroll;
}

@media screen and (max-width: 827px) {
    .panel {
        width: 30%;
    }

    .col-md-5 {
        overflow: scroll;
    }
}

@media screen and (max-width: 768px) {
    .panel {
        width: 30%;
    }

    footer {
        display: none;
    }

    .col-sm-1, .col-sm-2 {
        width: 90%
    }

    .get_data {
        width: 100%;
        text-align: center;
        margin: 14px 4px 4px 4px;
    }

    .col-md-5 {
        overflow: scroll;
    }
}

@media screen and (max-width: 480px) {
    .loc-box {
        height: 130px;
        width: 100%;
    }

    .panel {
        width: 48%;
    }

    footer {
        display: none;
    }

    .view {
        width: 100%;
        margin-top: 10px;
    }

    .col-sm-1, .col-sm-2 {
        width: 90%
    }

    .get_data {
        width: 100%;
        text-align: center;
        margin: 14px 4px 4px 4px;
    }

    .col-md-5 {
        overflow: scroll;
    }
}

#Volume_Label {
    font-size: 20px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.content-area {
    margin: 0 auto;
}

#topnav {
    background: #37474f;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.admin-menu {
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex: 0.05 0 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 0;
}

.logo-t {
    width: 32px;
    height: 32px;
    border: 2px solid #26c6da;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
    padding-left: 3px;
}

.search-bar {
    flex: 2 0 0;
    align-items: center;
    justify-content: space-between;
    background: #232e34;
    overflow: hidden;
    display: flex;
    height: 36px;
    border-radius: 35px;
    color: rgba(255,255,255,0.5);
}

.search-bar-dropdown {
    flex: 1 0 0;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    margin-right: 15px;
    background: #2c393f;
}

.search-bar-input {
    flex: 2 0 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 18px;
    line-height: 40px;
    align-items: center;
}

    .search-bar-input input[type="text"] {
        width: 100%;
        background: transparent;
        border: 0;
        color: rgba(255,255,255,0.5);
    }

    .search-bar-input input:focus {
        outline: none;
    }

.box.banana_map {
    color: #fff;
    background: #eff4f7;
    padding: 0;
    box-shadow: none;
}

    .box.banana_map .title {
        padding-top: 40px;
        padding-left: 25px;
        font-size: 16px;
    }

    .box.banana_map .subtitle {
        font-weight: 700;
        padding-top: 10px;
        padding-left: 25px;
        font-size: 22px;
    }

.box {
    max-height: 444px;
}

    .box .banana {
        min-height: 404px;
        background-image: url('img/banana.png');
        background-size: cover;
    }

    .box .map {
        min-height: 404px;
        background-image: url('img/map.png');
        background-size: cover;
    }

    .box .cog-icon {
        cursor: pointer;
        position: absolute;
        right: 55px;
        top: 25px;
        z-index: 10;
    }

@media screen and (max-width:760px) {
    #topnav {
        flex-wrap: wrap;
    }

    .admin-menu {
        flex-basis: 20%;
    }

    .logo {
        justify-content: flex-end;
        padding-right: 10px;
    }

    .logo {
        flex-basis: 80%;
    }

    .topnav-rightmenu, .search-bar {
        display: none;
    }
}

.box {
    box-shadow: 0px 1px 22px -12px #607D8B;
    background-color: #fff;
    padding: 25px 35px 25px 30px;
}

#monthly-earnings-chart #apexcharts-canvas {
    position: relative;
}

    #monthly-earnings-chart #apexcharts-canvas:after {
        content: "";
        position: absolute;
        left: 0;
        right: 58%;
        top: 0;
        bottom: 0;
        background: #24bdd3;
        opacity: 0.65;
    }

#monthly-earnings-chart #apexcharts-title-text {
    font-weight: 600;
}

#monthly-earnings-chart #apexcharts-subtitle-text {
    font-weight: 700;
}

.monthly-earnings-text {
    position: absolute;
    left: 70px;
    top: 187px;
    color: #fff;
    z-index: 10;
}

    .monthly-earnings-text h6 {
        font-size: 16px;
    }

.chart-title h5 {
    font-size: 18px;
    color: rgba(51,51,51,1);
    margin-bottom: 38px;
}


@media screen and (max-width:760px) {
    .monthly-earnings-text {
        left: 30px;
    }

    .box {
        padding: 25px 0;
    }
}

.sparkboxes .box {
    padding: 3px 0 0 0;
    position: relative;
}

#spark1, #spark2, #spark3, #spark4 {
    position: relative;
    padding-top: 15px;
}


/* overrides */
.sparkboxes #apexcharts-subtitle-text {
    fill: #8799a2 !important;
}

.mb-4 {
    margin-bottom: 0.5rem !important;
}

.mt-5 {
    margin-top: 0rem !important;
}

.row {
    --mdb-gutter-x: 0.5rem !important;
}

.mt-4 {
    margin-top: 0.5rem !important;
}

.spinner-border {
    display: none;
}

.get_data {
    display: inline-block;
    background-color: #6464fb;
    color: white;
    padding: 4px;
    border: 1px solid #6464fb;
    border-radius: 5px;
    box-shadow: 2px 1px 6px #817c7c;
}

    .get_data:hover {
        cursor: pointer;
    }

    .get_data:active {
        cursor: pointer;
        background-color: #bebef3;
        border: 1px solid #bebef3;
        padding: 1px;
    }

.center {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
    position: absolute;
    margin-left: 39%;
    z-index: 999;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #005c47);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

    .wave:nth-child(2) {
        animation-delay: 0.1s;
    }

    .wave:nth-child(3) {
        animation-delay: 0.2s;
    }

    .wave:nth-child(4) {
        animation-delay: 0.3s;
    }

    .wave:nth-child(5) {
        animation-delay: 0.4s;
    }

    .wave:nth-child(6) {
        animation-delay: 0.5s;
    }

    .wave:nth-child(7) {
        animation-delay: 0.6s;
    }

    .wave:nth-child(8) {
        animation-delay: 0.7s;
    }

    .wave:nth-child(9) {
        animation-delay: 0.8s;
    }

    .wave:nth-child(10) {
        animation-delay: 0.9s;
    }

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
/*.progress{
    position: relative;
    width: 100%;
    
}
.progress .color{
    position: absolute;
    background-color: #73f3c7;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 6s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}*/

